/* 
*****************************************************************************************************************************
                                                    COLORS
*****************************************************************************************************************************
*/

/* 
    Primary colors $color-primary
*/

$color-primary-light: #BFCF28;
$color-primary: #609933;
$color-primary-dark: #346B22;
/* 
    Secondary colors $color-secondary
*/

/* 
    Ternary colors $color-ternary
*/

/* 
    Black colors
*/

$color-grey-dark: #6D6D70;
$color-black: #202020;